<mat-form-field appearance="fill" class="form-field">
  <!-- Custom Market Cap -->
  <mat-label *ngIf="data.customMarketCap !== undefined">Custom Market Cap ($)</mat-label>
  <input *ngIf="data.customMarketCap !== undefined" type="number" matInput [(ngModel)]="data.customMarketCap" />
  <!-- Tokens -->
  <mat-label *ngIf="data.tokens !== undefined">Number of tokens</mat-label>
  <input *ngIf="data.tokens !== undefined" type="number" matInput [(ngModel)]="data.tokens" />
</mat-form-field>
<div>
  <button
    *ngIf="data.customMarketCap !== undefined"
    mat-stroked-button
    color="primary"
    [mat-dialog-close]="data.customMarketCap"
  >
    Ok
  </button>
  <button *ngIf="data.tokens !== undefined" mat-stroked-button color="primary" [mat-dialog-close]="data.tokens">
    Ok
  </button>
</div>
